{% extends 'layout.html' %}

{% block content %}
    <h1>Welcome to Photowall</h1>
    <nav>
        <ul>
            {% for category in categories %}
            <li><a href="{{ url_for('category_photos', category_id=category.id) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="{{ url_for('create_category') }}">Create Category</a></li>
        </ul>
    </nav>
    <div class="gallery">
        {% for photo in photos %}
            <div>
                <img src="{{ url_for('static', filename='images/' + photo.image_file) }}" alt="{{ photo.title }}">
                <a href="{{ url_for('add_favorite', photo_id=photo.id) }}">Favorite</a>
                <a href="{{ url_for('delete_photo', photo_id=photo.id) }}">Delete</a>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}
