<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photowall</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="upload-content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(class='form-control-label') }}
                                {{ form.email(class='form-control') }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {{ form.password(class='form-control') }}
                            </div>
                            <div class="form-group form-check">
                                {{ form.remember(class='form-check-input') }}
                                {{ form.remember.label(class='form-check-label') }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <p class="mt-3">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
