{% extends 'layout.html' %}

{% block content %}
    <h1>Upload Photo</h1>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(class='form-control') }}
        </div>
        <div>
            {{ form.photo.label }}
            {{ form.photo(class='form-control') }}
        </div>
        <div>
            {{ form.categories.label }}
            {{ form.categories(class='form-control') }}
        </div>
        <button type="submit">Upload</button>
    </form>
{% endblock %}

